@font-face {
    font-family: "Gilory";
    src: url(Assets/Fonts/gilroy-medium.ttf);
}
:root{
    --primary-bg-color : #f9f9f9;
    ---secondary-bg-color : #fff;
    --main-color: #75BF7A;
    ---primary-text-color :#000;
    ---secondary-text-color : #9e9da2;
    --light-grey : #dadada;
    ---box-shadow-color : #64646f33;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-bg-color);
    font-family: "Gilory";

}
a ,li{
    text-decoration: none;
    list-style :none
}
.main-heading{
    color:var(---primary-text-color);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
.main-heading span{
    color: var(--main-color) ;
    font-size: inherit;
}
h3.main-heading{
    font-size:30px ;
}
h5.main-heading{
    font-size: 25px;
    font-weight: normal;
    text-transform:none;
}
h6.main-heading{
    font-size:18px ;
}
.paragraph{
    color: var(---secondary-text-color);
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
span.paragraph{
    font-size: 12px;
    line-height: normal;

}
.button{
    color: var(---secondary-bg-color);
    background-color: var(---primary-text-color);
    font-weight: bolder;
    font-size:17px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 10px;
    padding:12px;  
    border: 0;
    border-radius: 6px;
    width: 100%;
    letter-spacing: 1px;
}

.font-bold{
    font-weight: bolder;
}
.b-radius{
    border-radius: 6px;
}

/* ----- Header ----- */


/* ----- Navbar ----- */
#navbar{
    background:var(---secondary-bg-color);
    margin-inline: -12px;
    padding-inline: 12px;
    box-shadow:#64646f1a  0px 7px 29px 0px;
}
.navbar{
    font-size: 17px;   
}
.nav-link{
    color: var(---primary-text-color) ;
}
.nav-link:hover{
    color: var(--main-color) ;
}
.navbar .button{
    background-color: var(--main-color);
    text-transform: capitalize;
    padding: 8px;
}
.navbar-collapse{
    position: absolute;
    top: 130px;
    background-color: var(---secondary-bg-color);
    border-radius:6px; 
    box-shadow: var(---box-shadow-color) 0px 7px 29px 0px;

}
/* ----- Apply Section -----   */
#apply-section{
    background-color: var(--main-color);
    padding:20px ;
}
.form-control{
    padding:12px;  
}
.form-control::placeholder{
    color: var(--light-grey);
}
/* ----- Main Section -----   */
main{
    margin-top: 150px;
}
main>div{
    gap: 100px;
}
/* ----- Work section -----   */
#circle{
    width:300px;
    height:300px;
    border-radius: 50%;
    background-color: var(--main-color);
}

#circle~img{
    width: 60%;
}
.dot {
    height: 11px;
    width: 11px;
    background-color:var(--main-color);
    border-radius: 50%;
}
/* Benfits Section */
#card-section{
    row-gap: 60px;
}
.benefits-card{
    width: 100%;
    height: 480px;
    background-color: var(---secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 
}
.benefits-card h3.main-heading{
    font-size:50px;
    font-weight: normal;
}


/* ----Breakpoints ---- */

@media (min-width: 576px) { 

    h6.main-heading{
        font-size:22px ;
    } 
    #apply-section{
        padding:40px ;
    }
    h3.main-heading{
        font-size:35px ;
    }
    #circle{
        width:400px;
        height:400px
    }
    #circle~img{
        width: 55%;
    }
    span.paragraph{
        font-size: 18px;
        line-height: normal;
    
    }
    .benefits-card{
        padding: 40px;
    }
}

@media (min-width: 768px) {
    main>div{
        gap: 110px;
    } 
    #works-section .row> .d-flex{
        gap: 50px;

    }
    .benefits-card h3.main-heading{
        font-size:55px;
    }
    h5.main-heading{
        font-size: 28px;
    }
  
 
 }
@media (min-width: 992px) { 
    .button{
        font-size:20px;
    }
    h1.main-heading{
        text-align:left;
        font-size: calc(1.475rem + 2.7vw);
    }
    .navbar-collapse{
        position: static;
        top: 0;
        background-color: inherit;
        border-radius:0; 
        box-shadow:none;
    }
    .paragraph{
        text-align: left;
    }
    h5.main-heading{
        font-size: 30px;
    }
    #circle{
        width: 380px;
        height: 380px;
    }
    #apply-section{
        padding:60px ;
    }
    #benefits-section{
        padding-bottom: 15%;
    }
    .benefits-card{
        width: 86%;
        height:310px;
        flex-direction: row;
        padding-block: 0;
    }
    .benefits-card h3.main-heading{
        font-size:60px;
    }
}
@media (min-width: 1200px) {
    h1.main-heading{
        font-size: 4rem;
    }
    h3.main-heading{
        font-size:40px ;
    }
    #circle{
        width: 450px;
        height: 450px;
    }
    main>div{
        gap: 150px;
    }
   
}
@media (min-width: 1400px) { 
    .paragraph{
        font-size: 20px;
    }  
    .benefits-card{
        width: 89%;
    }
}




































